server {

        listen      8090 ssl;

        server_name  777.lsp123.top

#此处要修改为你自己的域名

        ssl_certificate     /etc/v2ray-agent/tls/777.lsp123.top.crt;

        ssl_certificate_key  /etc/v2ray-agent/tls/777.lsp123.top.key;

#此处要修改为你自己的文件地址

        ssl_session_cache    shared:SSL:1m;

        ssl_session_timeout  5m;

        ssl_ciphers  HIGH:!aNULL:!MD5;

        ssl_prefer_server_ciphers  on;

        location / {

        proxy_set_header HOST $host;

        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_set_header X-Real-IP $remote_addr;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;


        #此处要修改为你自己的ip

        }

    }


upstream halo {
  server 127.0.0.1:8090;
}
server {
  listen 8090;
  listen [::]:8090;
  server_name 666.lsp123.top;
  client_max_body_size 1024m;
  location / {
    proxy_pass https://666.lsp123.top:8090;
    proxy_set_header HOST $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
acme.sh --installcert -d 666.lsp123.top --fullchainpath /etc/v2ray-agent/tls/666.lsp123.top.crt  --keypath /etc/v2ray-agent/tls/666.lsp123.top.key -ecc --reloadcmd "sudo service nginx force-reload"

               sudo "$HOME/.acme.sh/acme.sh" --installcert -d "${domain}" --fullchainpath /etc/v2ray-agent/tls/"${domain}.crt" --keypath /etc/v2ray-agent/tls/"${domain}.key" --ecc



server {
   listen 4444;

   server_name 666.lsp123.top;
   client_max_body_size 1024m;
  location / {
    proxy_pass http://204.152.210.221:8090;
    proxy_set_header HOST $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

}


